body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: white;
   
} 
h1{
    font-size: 50px;
    
    
}
 
 .color-orange{
    color: orange;
}
.desplay-container{
    display: flex;
    
}
.Mission-on{
    font-family:'Times New Roman', Times, serif;
    border-left: 2px solid;
    border-image:linear-gradient(cyan,orange) ;
    border-image-slice: 2;
    border-start-end-radius: 20px;
    padding: 5px;
  
  
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    
    

}
.half-width-img{
    width: 80%;
    
    
}
.half-width-illustrator{
    width: 30%;
}
.link-button{
    text-decoration: none;
   background-image:linear-gradient(tomato,red) ;
   font-weight: 700;
   border-radius: 5px;
   color: white;
   padding: 10px;

}

.mission{
    
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px;
    border: 1px solid #e6f9ff;
    background-color: #e6f9ff;
    border-radius: 15px;
    
}
.vission{
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px;
    border: 1px solid #f7e6e6;
    background-color: #f7e6e6;
    border-radius: 15px;
  
}
.goals{
    
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px;
    border: 1px solid #fafad2;
    background-color: #fafad2;
    border-radius: 15px;
}
.mission-item{
    
}
.dvelop-limits{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}
.global-community{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size: 15%;
}
.corona-action{
    background-image: url(images/shapes/shape-3.png),url(images/shapes/shape-3.png),url(images/shapes/shape-3.png);
    background-position: left top,left bottom,right bottom ;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 30% ;
}
.determition{
   text-align: center;
   background-color: black;
  background-position:initial;
   color: #e6f9ff;
  
   
}
